body {
    background: url("Images/food.png");
}

.images {
    width: 200px;
    height: 200px;
}

.messageID {
    font-size: 40px;
   text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

margins-card{
    margin-bottom: 20px;
}

.centerBtn {
 text-align: center;
}

.centerText {
    text-align:center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}